#header {
  border-bottom: 1px solid #000;
  .headerLogo {
    text-align: center;
  }
  .headerNavi {
    display: table-cell;
    vertical-align: middle;
    .headerNaviList {
      list-style: none;
      .item {
        display: inline-block;
      }
    }
  }
  .headerSerch {
    display: table-cell;
    vertical-align: middle;
  }
}
