<footer id="footer">
  <div class="footer-nav">
    <div class="wrap">
      <ul class="fNav">
        <li class="fNav__item"><a class="noto" href="index.html">TOP</a></li>
        <li class="fNav__item"><a class="noto" href="news.html">HTML</a></li>
        <li class="fNav__item"><a class="noto" href="books.html">CSS</a></li>
        <li class="fNav__item"><a class="noto" href="company.html">javascript</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="wrap">
      <div class="logo">KJT</div>
      <div class="copyright">
        <span class="roboto">Copyright &#xa9;</span>
      </div>
    </div>
  </div>
</footer>
