
html {
  font-size: 62.5%;
}

body {
  color: #181818;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", MyYuGothicM, Meiryo, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #181818;
  -webkit-tap-highlight-color: rgba(24,24,24,0.5);
  text-decoration: none;
  transition: all .2s ease 0s;
}
