@charset "UTF-8";
@import "setting";
@import "mixin";
/****************************************
font
****************************************/
@import "font";
.yuGothic {
  font-family: MyYuGothicM, YuGothic, sans-serif;
}

.noto {
  font-family: "NotoSansCJKjp", sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

/****************************************
add reset
****************************************/
@import "reset";

/****************************************
icon
****************************************/
@import "icon";
@import "sprite-icon";
@import "sprite-logo";
.logo-brand {
  @include sprite($sprite-logo-brand);
}
.icon1 {
  @include sprite($sprite-icon-1);
}

.icon2 {
  @include sprite($sprite-icon-2);
}

.icon3 {
  @include sprite($sprite-icon-3);
}

/****************************************
module
****************************************/
@import "module";

/****************************************
* style
****************************************/
.sp_view {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}
#global-wrapper {
  position: relative;
  opacity: 0;
  left: 0;
  transition: opacity .6s ease 0s,left .6s ease-out 0s
}
/* global-header
----------------------------------------*/
#global-header {

}

/* global-nav
----------------------------------------*/
#global-nav {

}

/* global-container
----------------------------------------*/
#global-container {
  /* section */
  .section {
    margin: 60px 0 0;

  }
}

#global-footer {

}

#to-top {
  position: fixed;
  bottom: -70px;
  right: 20px;
  transition: bottom .6s ease 0.2s;
  &.on {
    bottom: 20px;
  }
  a {
    background-color: rgba(#666, .8);
    display: block;
    height: 50px;
    width: 50px;
  }
}

/****************************************
* page style
****************************************/
.home {

}

/****************************************
adjustments style
****************************************/
@import "adjustments";
