<header class="page-header">
    <div class="container">
      <h1 class="page-header__title headline noto"><i class="icon icon-question"></i><%= page.title %></h1>
    </div>
  </header>
  <div class="page-content">
    <div class="about-site">
        <p class="about-site__lead">本サイトでは、書店のみなさまにご活⽤いただくために、各種POPや注⽂書のデータを公開しております。また、当サイトよりS-BOOKに遷移し、ご注⽂いただくことも可能です。是⾮、本サイトをご活⽤ください。</p>
        <p style="font-size:12px;margin-bottom:0;">※現在は”β版”となっておりますので、全ての機能をご利用いただけません。予めご了解ください。</p>
    </div>
    <div class="paragraph">
      <h2>商品の検索</h2>
      <p>本サイトでは、書店さま向けのおすすめ商品の情報を掲載しております。「商品⼀覧・検索」より商品を検索し、注⽂書やPOPのデータをダウンロードすることができます。</p>
      <div class="discription-box clearfix">
        <div class="discription-box__image"><img src="img/img_about_discription-box01.jpg" alt=""></div>
        <div class="discription-box__textbox">
          <p class="discription-box__text"><span class="roboto">1</span>商品情報は商品名、発売時期で検索することができます</p>
          <p class="discription-box__text"><span class="roboto">2</span>「検索する」ボタンをクリックすると、検索結果が表⽰されます</p>
        </div>
      </div>
    </div>
    <div class="paragraph">
      <h2>商品の注⽂書・POPのダウンロード</h2>
      <p>検索した商品情報から注⽂書やPOP/チラシのデータをダウンロードすることができます。</p>
      <div class="discription-box clearfix">
        <div class="discription-box__image"><img src="img/img_about_discription-box02.jpg" alt=""></div>
        <div class="discription-box__textbox">
          <p class="discription-box__text"><span class="roboto">1</span>「POP/チラシ」ボタンおよび「注⽂書」ボタンをクリックするとデータがダウンロードされます</p>
        </div>
      </div>
    </div>
    <div class="paragraph">
      <p>注⽂書は「注⽂書⼀覧」ページからもダウンロードすることができます。</p>
      <div class="discription-box clearfix">
        <div class="discription-box__image"><img src="img/img_about_discription-box03.jpg" alt=""></div>
        <div class="discription-box__textbox">
          <p class="discription-box__text"><span class="roboto">1</span>「ダウンロード」ボタンをクリックすると、注⽂書のデータがダウンロードされます</p>
        </div>
      </div>
    </div>

  </div>
