<header class="page-header">
    <div class="container">
      <h1 class="page-header__title headline noto"><i class="icon icon-office"></i><%= page.title %></h1>
    </div>
  </header>
  <div class="page-content">
    <table class="company-table">
      <tr class="company-table__row">
        <th class="company-table__title">会社名</th>
        <td class="company-table__text">株式会社東京ニュース通信社</td>
      </tr>
      <tr class="company-table__row">
        <th class="company-table__title">代表者</th>
        <td class="company-table__text">代表取締役会長　　奥山 忠<br>代表取締役社長　　奥山 卓</td>
      </tr>
      <tr class="company-table__row">
        <th class="company-table__title">創業</th>
        <td class="company-table__text">1933年10月24日</td>
      </tr>
      <tr class="company-table__row">
        <th class="company-table__title">所在地</th>
        <td class="company-table__text">
          <h3 class="company-table__headline">所在地</h3>
          <table class="child-table">
            <tr class="child-table__row">
              <th class="child-table__title"><span class="child-table__seal">住所</span></th>
              <td class="child-table__text">〒104-8415　東京都中央区銀座7-16-3　日鐵木挽ビル6階（受付）</td>
            </tr>
            <tr class="child-table__row">
              <th class="child-table__title"><span class="child-table__seal">アクセス</span></th>
              <td class="child-table__text">東京メトロ日比谷線・都営浅草線　東銀座駅6番出口より徒歩4分<br>都営大江戸線　築地市場駅A3出口より徒歩5分</td>
            </tr>
            <tr class="child-table__row">
              <td class="child-table__map" colspan="2"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1581.8562528128953!2d139.764888197251!3d35.667073823321005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bdd8fbf5b35%3A0x67c95a4ec0a9c47f!2z44CSMTA0LTAwNjEg5p2x5Lqs6YO95Lit5aSu5Yy66YqA5bqn77yX5LiB55uu77yR77yW4oiS77yTIOaXpemQteacqOaMveODk-ODqw!5e0!3m2!1sja!2sjp!4v1474419997885" frameborder="0" style="border:0" allowfullscreen></iframe></td>
            </tr>
          </table>
          <h3 class="company-table__headline">西日本メディアセンター</h3>
          <table class="child-table">
            <tr class="child-table__row">
              <th class="child-table__title"><span class="child-table__seal">住所</span></th>
              <td class="child-table__text">〒812-0013　福岡県福岡市博多区博多駅東3-3-3　新比恵ビル4階</td>
            </tr>
            <tr class="child-table__row">
              <th class="child-table__title"><span class="child-table__seal">アクセス</span></th>
              <td class="child-table__text">JR・市営地下鉄空港線　博多駅筑紫口より徒歩7分</td>
            </tr>
            <tr class="child-table__row">
              <td class="child-table__map" colspan="2"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.7034401198225!2d130.42378340143947!3d33.587048380640425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354191c9ffd329f3%3A0xc76772066bd7012b!2z44CSODEyLTAwMTMg56aP5bKh55yM56aP5bKh5biC5Y2a5aSa5Yy65Y2a5aSa6aeF5p2x77yT5LiB55uu77yT4oiS77yTIOaWsOavlOaBteODk-ODqw!5e0!3m2!1sja!2sjp!4v1474420127279" frameborder="0" style="border:0" allowfullscreen></iframe></td>
            </tr>
          </table>
          <h3 class="company-table__headline">大阪オフィス</h3>
          <table class="child-table">
            <tr class="child-table__row">
              <th class="child-table__title"><span class="child-table__seal">住所</span></th>
              <td class="child-table__text">〒530-0001　大阪府大阪市北区梅田1丁目1番3-500　大阪駅前第三ビル5階10号</td>
            </tr>
            <tr class="child-table__row">
              <th class="child-table__title"><span class="child-table__seal">アクセス</span></th>
              <td class="child-table__text">JR　東海道線、環状線：大阪駅、東西線　北新地駅<br>地下鉄　御堂筋線・梅田駅、四つ橋線・西梅田駅、谷町線・東梅田駅<br>私鉄　阪神電車　梅田駅、阪急電車　梅田駅</td>
            </tr>
            <tr class="child-table__row">
              <td class="child-table__map" colspan="2"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.2524140303417!2d135.49708115146007!3d34.69881293033894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6ec5525c671%3A0x259506aae33e595b!2z44CSNTMwLTAwMDEg5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy65qKF55Sw77yR5LiB55uu77yR4oiS77yTIOWkp-mYqumnheWJjeesrDPjg5Pjg6s!5e0!3m2!1sja!2sjp!4v1474420269874" frameborder="0" style="border:0" allowfullscreen></iframe></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="company-table__row">
        <th class="company-table__title">資本金</th>
        <td class="company-table__text">4,680万円</td>
      </tr>
      <tr class="company-table__row">
        <th class="company-table__title">関連会社</th>
        <td class="company-table__text">株式会社ニュース企画<br>株式会社ニュースサービス<br>株式会社東京ニュース興発</td>
      </tr>
    </table>
  </div>
