      <div class="wrap">
        <h1 class="headerLogo">KJT</h1>
        <div class="headerNavi">
          <ul class="headerNaviList">
            <li class="item"><a href="">HTML</a></li>
            <li class="item"><a href="">CSS</a></li>
            <li class="item"><a href="">javascript</a></li>
          </ul>
        </div>
        <div class="headerSerch"><input type="text"><buttton type="submit">検索</buttton></div>
      </div>
