// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//  
//  1. fonts
//  2. colors


// 1. fonts
// ==========================================================================
$font-roboto-path: "fonts/roboto";
$font-color-base: #333;

// 2. color
// ==========================================================================
$color-base: "#0bd";
