@mixin hover-text {
  text-decoration: underline;
  color: $red01;
  cursor: pointer;
}

@mixin borderLetter($color: #000, $width: 1px) {
  text-shadow:
      0 $width 0 $color,
      $width 0 0 $color,
      0 -$width 0 $color,
      -$width 0 0 $color,
      -$width -$width 0 $color,
      $width -$width 0 $color,
      -$width $width 0 $color,
      $width $width 0 $color
  ;
}
