@charset "UTF-8";
/****************************************
font
****************************************/
@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: 100;
  src: url("../font/NotoSansCJKjp-Thin.eot");
  src: local("Noto Sans CJK JP Thin"), url("../font/NotoSansCJKjp-Thin.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Thin.woff") format("woff"), url("../font/NotoSansCJKjp-Thin.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: 200;
  src: url("../font/NotoSansCJKjp-Light.eot");
  src: local("Noto Sans CJK JP Light"), url("../font/NotoSansCJKjp-Light.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Light.woff") format("woff"), url("../font/NotoSansCJKjp-Light.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: 300;
  src: url("../font/NotoSansCJKjp-DemiLight.eot");
  src: local("Noto Sans CJK JP DemiLight"), url("../font/NotoSansCJKjp-DemiLight.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-DemiLight.woff") format("woff"), url("../font/NotoSansCJKjp-DemiLight.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: 400;
  src: url("../font/NotoSansCJKjp-Regular.eot");
  src: local("Noto Sans CJK JP Regular"), url("../font/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Regular.woff") format("woff"), url("../font/NotoSansCJKjp-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: 500;
  src: url("../font/NotoSansCJKjp-Medium.eot");
  src: local("Noto Sans CJK JP Medium"), url("../font/NotoSansCJKjp-Medium.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Medium.woff") format("woff"), url("../font/NotoSansCJKjp-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: 700;
  src: url("../font/NotoSansCJKjp-Bold.eot");
  src: local("Noto Sans CJK JP Bold"), url("../font/NotoSansCJKjp-Bold.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Bold.woff") format("woff"), url("../font/NotoSansCJKjp-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: 900;
  src: url("../font/NotoSansCJKjp-Black.eot");
  src: local("Noto Sans CJK JP Black"), url("../font/NotoSansCJKjp-Black.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Black.woff") format("woff"), url("../font/NotoSansCJKjp-Black.otf") format("opentype");
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: 100;
  src: local("YuGothic-Light"), local("Yu Gothic Light");
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: 200;
  src: local("YuGothic-Light"), local("Yu Gothic Light");
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: 300;
  src: local("YuGothic-Regular"), local("Yu Gothic");
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: 400;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular");
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: 500;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular");
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: 600;
  src: local("YuGothic-Bold"), local("Yu Gothic");
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: 700;
  src: local("YuGothic-Bold"), local("Yu Gothic");
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: 800;
  src: local("YuGothic-Bold"), local("Yu Gothic");
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: 900;
  src: local("YuGothic-Bold"), local("Yu Gothic");
}

.yuGothic {
  font-family: MyYuGothicM, YuGothic, sans-serif;
}

.noto {
  font-family: "NotoSansCJKjp", sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

/****************************************
add reset
****************************************/
html {
  font-size: 62.5%;
}

body {
  color: #181818;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", MyYuGothicM, Meiryo, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #181818;
  -webkit-tap-highlight-color: rgba(24, 24, 24, 0.5);
  text-decoration: none;
  transition: all .2s ease 0s;
}

/****************************************
icon
****************************************/
.icon {
  display: inline-block;
}

.icon-bullet-left::before {
  content: "\f700";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-bullet-right::before {
  content: "\f701";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-bullet-up::before {
  content: "\f702";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-bullet-down::before {
  content: "\f703";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-bullet-circle-left::before {
  content: "\f704";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-bullet-circle-right::before {
  content: "\f705";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-bullet-circle-up::before {
  content: "\f706";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-bullet-circle-down::before {
  content: "\f707";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vvertical-align: middle;
}

.icon-bullet-square-left::before {
  content: "\f708";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-bullet-square-right::before {
  content: "\f709";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-bullet-square-up::before {
  content: "\f70a";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-bullet-square-down::before {
  content: "\f70b";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-book::before {
  content: "\f70c";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-search::before {
  content: "\f70d";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-user::before {
  content: "\f70e";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-pencil::before {
  content: "\f70f";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-info::before {
  content: "\f710";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-question::before {
  content: "\f711";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-location::before {
  content: "\f712";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-gift::before {
  content: "\f713";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-comment03::before {
  content: "\f723";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-download::before {
  content: "\f732";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
}

.icon-mobile::before {
  content: "\f733";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-list::before {
  content: "\f734";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-office::before {
  content: "\f735";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-newtab::before {
  content: "\f739";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
  vertical-align: middle;
}

.icon-zip::before {
  content: "\f736";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
}

.icon-pdf::before {
  content: "\f737";
  font-family: 'rocketon-symbolsregular', Arial, sans-serif;
  font-style: normal;
}

/****************************************
module
****************************************/
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0;
  position: relative;
}

/****************************************
* style
****************************************/
.sp_view {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp_view {
    display: block;
  }
}

#global-wrapper {
  position: relative;
  opacity: 0;
  left: 0;
  transition: opacity .6s ease 0s,left .6s ease-out 0s;
}

/* global-header
----------------------------------------*/
#global-header {
  height: 100px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 30px;
  position: relative;
}

#global-header h1 {
  margin: 0;
  position: absolute;
  left: 30px;
  top: 25px;
}

#global-header nav {
  position: absolute;
  right: 30px;
  top: 25px;
}

#global-header nav ul {
  display: table;
  margin: 0 0 10px;
  padding: 0;
  table-layout: fixed;
  width: 257px;
}

#global-header nav ul li {
  display: table-cell;
}

#global-header nav ul li:first-child a {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #fff;
}

#global-header nav ul li a {
  background: #cd0009;
  border-radius: 0 4px 4px 0;
  color: #fff;
  display: block;
  font-size: 1.2rem;
  padding: 7px;
  text-align: center;
}

/* global-nav
----------------------------------------*/
#global-nav {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 30px;
  position: relative;
  z-index: 1;
}

#global-nav ul {
  display: table;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

#global-nav ul li {
  display: table-cell;
}

#global-nav ul li:first-child a {
  border-radius: 10px 0 0 10px;
}

#global-nav ul li:last-child a {
  border-radius: 0 10px 10px 0;
}

#global-nav ul li a {
  background-color: #181818;
  color: #fff;
  display: block;
  margin: 0 -1px;
  padding: 20px 0;
  text-align: center;
  transform: skew(-15deg);
}

#global-nav ul li a:hover {
  background-color: #e6000a;
}

#global-nav ul li a span {
  display: block;
  transform: skew(15deg);
}

/* global-container
----------------------------------------*/
#global-container {
  margin: -25px 0 0;
  /* p_visual */
  /* section */
}

#global-container .p_visual {
  background-color: #ddd;
  background-image: url(../img/bg_grid_4x4.png), url(../img/bg_home_visual.jpg);
  background-position: left top,left top;
  background-repeat: repeat, no-repeat;
  background-size: 2px 2px, cover;
  color: #fff;
  height: 725px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#global-container .p_visual .inner {
  padding: 0 30px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#global-container .p_visual .inner h2 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: .175em;
  text-indent: .175em;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

#global-container .p_visual .inner h2 span {
  opacity: 1;
  position: relative;
  top: 0;
  transition: opacity .6s ease 0s,top .6s ease 0s;
}

#global-container .p_visual .inner h2 span.ls {
  letter-spacing: -0.25em;
}

#global-container .p_visual .inner h2 span:hth-child(1) {
  transition-delay: 1.3s;
}

#global-container .p_visual .inner h2 span:hth-child(2) {
  transition-delay: 1.4s;
}

#global-container .p_visual .inner h2 span:hth-child(3) {
  transition-delay: 1.5s;
}

#global-container .p_visual .inner h2 span:hth-child(4) {
  transition-delay: 1.6s;
}

#global-container .p_visual .inner h2 span:hth-child(5) {
  transition-delay: 1.7s;
}

#global-container .p_visual .inner h2 span:hth-child(6) {
  transition-delay: 1.8s;
}

#global-container .p_visual .inner h2 span:hth-child(7) {
  transition-delay: 1.9s;
}

#global-container .p_visual .inner h2 span:hth-child(9) {
  transition-delay: 2s;
}

#global-container .p_visual .inner h2 span:hth-child(10) {
  transition-delay: 2.1s;
}

#global-container .p_visual .inner h2 span:hth-child(11) {
  transition-delay: 2.2s;
}

#global-container .p_visual .inner h2 span:hth-child(12) {
  transition-delay: 2.3s;
}

#global-container .p_visual .inner h2 span:hth-child(13) {
  transition-delay: 2.4s;
}

#global-container .p_visual .inner h2 span:hth-child(14) {
  transition-delay: 2.5s;
}

#global-container .section {
  margin: 60px 0 0;
}

#global-container .section .secTitle {
  color: #e6000a;
  font-family: "Avenir Next",Montserrat,NotoSansCJKjp,MyYuGothicM,"Hiragino Kaku Gothic ProN",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: .1em;
  text-align: center;
  text-indent: .1em;
}

#global-container .section h3.secTitle {
  font-size: 4.2rem;
  line-height: 1;
}

#global-container .section .secDescription {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0;
  position: relative;
}

#global-container .section p {
  font-size: 1.8rem;
}

/****************************************
* page style
****************************************/
/****************************************
adjustments style
****************************************/
.c_both {
  clear: both;
}

.b_white {
  background-color: #fff;
}

.b_black {
  background-color: #000;
}

.b_gray {
  background-color: #888;
}

.b_red {
  background-color: #f00;
}

.b_blue {
  background-color: #00f;
}

.b_green {
  background-color: #0f0;
}

.c_white {
  color: #fff;
}

.c_black {
  color: #000;
}

.c_gray {
  color: #888;
}

.c_red {
  color: #f00;
}

.c_blue {
  color: #00f;
}

.c_green {
  color: #0f0;
}

.d_none {
  display: none;
}

.d_block {
  display: block;
}

.d_table {
  display: table;
}

.d_inline {
  display: inline;
}

.d_inlineblock {
  display: inline-block;
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

.f_none {
  float: none;
}

.m_top5 {
  margin-top: 5px;
}

.m_top10 {
  margin-top: 10px;
}

.m_top15 {
  margin-top: 15px;
}

.m_top20 {
  margin-top: 20px;
}

.m_top25 {
  margin-top: 25px;
}

.m_top30 {
  margin-top: 30px;
}

.m_top35 {
  margin-top: 35px;
}

.m_top40 {
  margin-top: 40px;
}

.m_top45 {
  margin-top: 45px;
}

.m_top50 {
  margin-top: 50px;
}

.m_top55 {
  margin-top: 55px;
}

.m_top60 {
  margin-top: 60px;
}

.m_top65 {
  margin-top: 65px;
}

.m_top70 {
  margin-top: 70px;
}

.m_top75 {
  margin-top: 75px;
}

.m_top80 {
  margin-top: 80px;
}

.m_top85 {
  margin-top: 85px;
}

.m_top90 {
  margin-top: 90px;
}

.m_top95 {
  margin-top: 95px;
}

.m_top100 {
  margin-top: 100px;
}

.m_bottom5 {
  margin-bottom: 5px;
}

.m_bottom10 {
  margin-bottom: 10px;
}

.m_bottom15 {
  margin-bottom: 15px;
}

.m_bottom20 {
  margin-bottom: 20px;
}

.m_bottom25 {
  margin-bottom: 25px;
}

.m_bottom30 {
  margin-bottom: 30px;
}

.m_bottom35 {
  margin-bottom: 35px;
}

.m_bottom40 {
  margin-bottom: 40px;
}

.m_bottom45 {
  margin-bottom: 45px;
}

.m_bottom50 {
  margin-bottom: 50px;
}

.m_bottom55 {
  margin-bottom: 55px;
}

.m_bottom60 {
  margin-bottom: 60px;
}

.m_bottom65 {
  margin-bottom: 65px;
}

.m_bottom70 {
  margin-bottom: 70px;
}

.m_bottom75 {
  margin-bottom: 75px;
}

.m_bottom80 {
  margin-bottom: 80px;
}

.m_bottom85 {
  margin-bottom: 85px;
}

.m_bottom90 {
  margin-bottom: 90px;
}

.m_bottom95 {
  margin-bottom: 95px;
}

.m_bottom100 {
  margin-bottom: 100px;
}

.m_left5 {
  margin-left: 5px;
}

.m_left10 {
  margin-left: 10px;
}

.m_left15 {
  margin-left: 15px;
}

.m_left20 {
  margin-left: 20px;
}

.m_left25 {
  margin-left: 25px;
}

.m_left30 {
  margin-left: 30px;
}

.m_left35 {
  margin-left: 35px;
}

.m_left40 {
  margin-left: 40px;
}

.m_left45 {
  margin-left: 45px;
}

.m_left50 {
  margin-left: 50px;
}

.m_left55 {
  margin-left: 55px;
}

.m_left60 {
  margin-left: 60px;
}

.m_left65 {
  margin-left: 65px;
}

.m_left70 {
  margin-left: 70px;
}

.m_left75 {
  margin-left: 75px;
}

.m_left80 {
  margin-left: 80px;
}

.m_left85 {
  margin-left: 85px;
}

.m_left90 {
  margin-left: 90px;
}

.m_left95 {
  margin-left: 95px;
}

.m_left100 {
  margin-left: 100px;
}

.m_right5 {
  margin-right: 5px;
}

.m_right10 {
  margin-right: 10px;
}

.m_right15 {
  margin-right: 15px;
}

.m_right20 {
  margin-right: 20px;
}

.m_right25 {
  margin-right: 25px;
}

.m_right30 {
  margin-right: 30px;
}

.m_right35 {
  margin-right: 35px;
}

.m_right40 {
  margin-right: 40px;
}

.m_right45 {
  margin-right: 45px;
}

.m_right50 {
  margin-right: 50px;
}

.m_right55 {
  margin-right: 55px;
}

.m_right60 {
  margin-right: 60px;
}

.m_right65 {
  margin-right: 65px;
}

.m_right70 {
  margin-right: 70px;
}

.m_right75 {
  margin-right: 75px;
}

.m_right80 {
  margin-right: 80px;
}

.m_right85 {
  margin-right: 85px;
}

.m_right90 {
  margin-right: 90px;
}

.m_right95 {
  margin-right: 95px;
}

.m_right100 {
  margin-right: 100px;
}

.p_top5 {
  padding-top: 5px;
}

.p_top10 {
  padding-top: 10px;
}

.p_top15 {
  padding-top: 15px;
}

.p_top20 {
  padding-top: 20px;
}

.p_top25 {
  padding-top: 25px;
}

.p_top30 {
  padding-top: 30px;
}

.p_top35 {
  padding-top: 35px;
}

.p_top40 {
  padding-top: 40px;
}

.p_top45 {
  padding-top: 45px;
}

.p_top50 {
  padding-top: 50px;
}

.p_top55 {
  padding-top: 55px;
}

.p_top60 {
  padding-top: 60px;
}

.p_top65 {
  padding-top: 65px;
}

.p_top70 {
  padding-top: 70px;
}

.p_top75 {
  padding-top: 75px;
}

.p_top80 {
  padding-top: 80px;
}

.p_top85 {
  padding-top: 85px;
}

.p_top90 {
  padding-top: 90px;
}

.p_top95 {
  padding-top: 95px;
}

.p_top100 {
  padding-top: 100px;
}

.p_bottom5 {
  padding-bottom: 5px;
}

.p_bottom10 {
  padding-bottom: 10px;
}

.p_bottom15 {
  padding-bottom: 15px;
}

.p_bottom20 {
  padding-bottom: 20px;
}

.p_bottom25 {
  padding-bottom: 25px;
}

.p_bottom30 {
  padding-bottom: 30px;
}

.p_bottom35 {
  padding-bottom: 35px;
}

.p_bottom40 {
  padding-bottom: 40px;
}

.p_bottom45 {
  padding-bottom: 45px;
}

.p_bottom50 {
  padding-bottom: 50px;
}

.p_bottom55 {
  padding-bottom: 55px;
}

.p_bottom60 {
  padding-bottom: 60px;
}

.p_bottom65 {
  padding-bottom: 65px;
}

.p_bottom70 {
  padding-bottom: 70px;
}

.p_bottom75 {
  padding-bottom: 75px;
}

.p_bottom80 {
  padding-bottom: 80px;
}

.p_bottom85 {
  padding-bottom: 85px;
}

.p_bottom90 {
  padding-bottom: 90px;
}

.p_bottom95 {
  padding-bottom: 95px;
}

.p_bottom100 {
  padding-bottom: 100px;
}

.p_left5 {
  padding-left: 5px;
}

.p_left10 {
  padding-left: 10px;
}

.p_left15 {
  padding-left: 15px;
}

.p_left20 {
  padding-left: 20px;
}

.p_left25 {
  padding-left: 25px;
}

.p_left30 {
  padding-left: 30px;
}

.p_left35 {
  padding-left: 35px;
}

.p_left40 {
  padding-left: 40px;
}

.p_left45 {
  padding-left: 45px;
}

.p_left50 {
  padding-left: 50px;
}

.p_left55 {
  padding-left: 55px;
}

.p_left60 {
  padding-left: 60px;
}

.p_left65 {
  padding-left: 65px;
}

.p_left70 {
  padding-left: 70px;
}

.p_left75 {
  padding-left: 75px;
}

.p_left80 {
  padding-left: 80px;
}

.p_left85 {
  padding-left: 85px;
}

.p_left90 {
  padding-left: 90px;
}

.p_left95 {
  padding-left: 95px;
}

.p_left100 {
  padding-left: 100px;
}

.p_right5 {
  padding-right: 5px;
}

.p_right10 {
  padding-right: 10px;
}

.p_right15 {
  padding-right: 15px;
}

.p_right20 {
  padding-right: 20px;
}

.p_right25 {
  padding-right: 25px;
}

.p_right30 {
  padding-right: 30px;
}

.p_right35 {
  padding-right: 35px;
}

.p_right40 {
  padding-right: 40px;
}

.p_right45 {
  padding-right: 45px;
}

.p_right50 {
  padding-right: 50px;
}

.p_right55 {
  padding-right: 55px;
}

.p_right60 {
  padding-right: 60px;
}

.p_right65 {
  padding-right: 65px;
}

.p_right70 {
  padding-right: 70px;
}

.p_right75 {
  padding-right: 75px;
}

.p_right80 {
  padding-right: 80px;
}

.p_right85 {
  padding-right: 85px;
}

.p_right90 {
  padding-right: 90px;
}

.p_right95 {
  padding-right: 95px;
}

.p_right100 {
  padding-right: 100px;
}

.p_relative {
  position: relative;
}

.p_absolute {
  position: absolute;
}

.t_underline {
  text-decoration: underline;
}

.t_none {
  text-decoration: none;
}

.t_bold {
  font-weight: bold;
}

.t_center {
  text-align: center;
}

.t_left {
  text-align: left;
}

.t_right {
  text-align: right;
}

.v_top {
  vertical-align: top;
}

.v_middle {
  vertical-align: middle;
}

.v_bottom {
  vertical-align: bottom;
}

.v_hidden {
  visibility: hidden;
}

.v_visible {
  visibility: visible;
}

.w_5 {
  width: 5%;
}

.w_10 {
  width: 10%;
}

.w_15 {
  width: 15%;
}

.w_20 {
  width: 20%;
}

.w_25 {
  width: 25%;
}

.w_30 {
  width: 30%;
}

.w_35 {
  width: 35%;
}

.w_40 {
  width: 40%;
}

.w_45 {
  width: 45%;
}

.w_50 {
  width: 50%;
}

.w_55 {
  width: 55%;
}

.w_60 {
  width: 60%;
}

.w_65 {
  width: 65%;
}

.w_70 {
  width: 70%;
}

.w_75 {
  width: 75%;
}

.w_80 {
  width: 80%;
}

.w_85 {
  width: 85%;
}

.w_90 {
  width: 90%;
}

.w_95 {
  width: 95%;
}

.w_100 {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */