<% var data = jsonData; %><header class="page-header">
    <div class="container">
      <h1 class="page-header__title headline noto"><i class="icon icon-search"></i><%= data.title %></h1>
    </div>
  </header>
  <div class="search">
    <div class="search__input"><input type="text" placeholder="商品名を入力してください"></div>
    <div class="search__date">
      <span class="search__title noto">発売日：</span>
      <select name="" id="">
        <option value="">---</option>
      </select>
      <span class="search__text noto" style="margin-right: 13px;">年</span>
      <select name="" id="">
        <option value="">---</option>
      </select>
      <span class="search__text noto">月</span>
    </div>
    <div class="search__btn"><input class="btn btn-m btn-red" type="submit" value="検索する"></div>
  </div>
  <div class="page-content">
    <div class="search-total"><span class="search-total__title">「 TV ガイド person 」の検索結果</span>全：<span class="number roboto">11</span>件</div>
    <div class="panel-wrap js-panel-more">
      <!-- panel1 -->
      <ul class="panel clearfix">
        <li class="panel__item clearfix">
          <div class="panel__item__image"><img src="../img/no-image-300.png" alt=""></div>
          <ul class="panel__item__source">
            <li class="panel__item__title">書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります</li>
            <li class="panel__item__price">価格：<span>OOOO円</span></li>
            <li class="panel__item__date">発売日：<span>2016.00.00</span></li>
          </ul>
          <ul class="panel__item__btn clearfix">
            <li class="left"><a href=""><i class="icon-zip"></i>POP/チラシ</a></li>
            <li class="right"><a href=""><i class="icon-pdf"></i>注文書</a></li>
          </ul>
        </li>
        <li class="panel__item clearfix">
          <div class="panel__item__image"><img src="../img/no-image-300.png" alt=""></div>
          <ul class="panel__item__source">
            <li class="panel__item__title">書籍のタイトルが入ります。書籍のタイトルが入ります</li>
            <li class="panel__item__price">価格：<span>OOOO円</span></li>
            <li class="panel__item__date">発売日：<span>2016.00.00</span></li>
          </ul>
          <ul class="panel__item__btn clearfix">
            <li class="left"><a href=""><i class="icon-zip"></i>POP/チラシ</a></li>
            <li class="right"><a href=""><i class="icon-pdf"></i>注文書</a></li>
          </ul>
        </li>
        <li class="panel__item clearfix">
          <div class="panel__item__image"><img src="../img/no-image-300.png" alt=""></div>
          <ul class="panel__item__source">
            <li class="panel__item__title">書籍のタイトルが入ります。書籍のタイトルが入ります</li>
            <li class="panel__item__price">価格：<span>OOOO円</span></li>
            <li class="panel__item__date">発売日：<span>2016.00.00</span></li>
          </ul>
          <ul class="panel__item__btn clearfix">
            <li class="left"><a href=""><i class="icon-zip"></i>POP/チラシ</a></li>
            <li class="right"><a href=""><i class="icon-pdf"></i>注文書</a></li>
          </ul>
        </li>
        <li class="panel__item clearfix">
          <div class="panel__item__image"><img src="../img/no-image-300.png" alt=""></div>
          <ul class="panel__item__source">
            <li class="panel__item__title">書籍のタイトルが入ります。書籍のタイトルが入ります</li>
            <li class="panel__item__price">価格：<span>OOOO円</span></li>
            <li class="panel__item__date">発売日：<span>2016.00.00</span></li>
          </ul>
          <ul class="panel__item__btn clearfix">
            <li class="left"><a href=""><i class="icon-zip"></i>POP/チラシ</a></li>
            <li class="right"><a href=""><i class="icon-pdf"></i>注文書</a></li>
          </ul>
        </li>
        <li class="panel__item clearfix">
          <div class="panel__item__image"><img src="../img/no-image-300.png" alt=""></div>
          <ul class="panel__item__source">
            <li class="panel__item__title">書籍のタイトルが入ります。書籍のタイトルが入ります</li>
            <li class="panel__item__price">価格：<span>OOOO円</span></li>
            <li class="panel__item__date">発売日：<span>2016.00.00</span></li>
          </ul>
          <ul class="panel__item__btn clearfix">
            <li class="left"><a href=""><i class="icon-zip"></i>POP/チラシ</a></li>
            <li class="right"><a href=""><i class="icon-pdf"></i>注文書</a></li>
          </ul>
        </li>
        <li class="panel__item clearfix">
          <div class="panel__item__image"><img src="../img/no-image-300.png" alt=""></div>
          <ul class="panel__item__source">
            <li class="panel__item__title">書籍のタイトルが入ります。書籍のタイトルが入ります</li>
            <li class="panel__item__price">価格：<span>OOOO円</span></li>
            <li class="panel__item__date">発売日：<span>2016.00.00</span></li>
          </ul>
          <ul class="panel__item__btn clearfix">
            <li class="left"><a href=""><i class="icon-zip"></i>POP/チラシ</a></li>
            <li class="right"><a href=""><i class="icon-pdf"></i>注文書</a></li>
          </ul>
        </li>
        <li class="panel__item clearfix">
          <div class="panel__item__image"><img src="../img/no-image-300.png" alt=""></div>
          <ul class="panel__item__source">
            <li class="panel__item__title">書籍のタイトルが入ります。書籍のタイトルが入ります</li>
            <li class="panel__item__price">価格：<span>OOOO円</span></li>
            <li class="panel__item__date">発売日：<span>2016.00.00</span></li>
          </ul>
          <ul class="panel__item__btn clearfix">
            <li class="left"><a href=""><i class="icon-zip"></i>POP/チラシ</a></li>
            <li class="right"><a href=""><i class="icon-pdf"></i>注文書</a></li>
          </ul>
        </li>
        <li class="panel__item clearfix">
          <div class="panel__item__image"><img src="../img/no-image-300.png" alt=""></div>
          <ul class="panel__item__source">
            <li class="panel__item__title">書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります</li>
            <li class="panel__item__price">価格：<span>OOOO円</span></li>
            <li class="panel__item__date">発売日：<span>2016.00.00</span></li>
          </ul>
          <ul class="panel__item__btn clearfix">
            <li class="left"><a href=""><i class="icon-zip"></i>POP/チラシ</a></li>
            <li class="right"><a href=""><i class="icon-pdf"></i>注文書</a></li>
          </ul>
        </li>
        <li class="panel__item clearfix">
          <div class="panel__item__image"><img src="../img/no-image-300.png" alt=""></div>
          <ul class="panel__item__source">
            <li class="panel__item__title">書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります</li>
            <li class="panel__item__price">価格：<span>OOOO円</span></li>
            <li class="panel__item__date">発売日：<span>2016.00.00</span></li>
          </ul>
          <ul class="panel__item__btn clearfix">
            <li class="left"><a href=""><i class="icon-zip"></i>POP/チラシ</a></li>
            <li class="right"><a href=""><i class="icon-pdf"></i>注文書</a></li>
          </ul>
        </li>
        <li class="panel__item clearfix">
          <div class="panel__item__image"><img src="../img/no-image-300.png" alt=""></div>
          <ul class="panel__item__source">
            <li class="panel__item__title">書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります</li>
            <li class="panel__item__price">価格：<span>OOOO円</span></li>
            <li class="panel__item__date">発売日：<span>2016.00.00</span></li>
          </ul>
          <ul class="panel__item__btn clearfix">
            <li class="left"><a href=""><i class="icon-zip"></i>POP/チラシ</a></li>
            <li class="right"><a href=""><i class="icon-pdf"></i>注文書</a></li>
          </ul>
        </li>
        <li class="panel__item clearfix">
          <div class="panel__item__image"><img src="../img/no-image-300.png" alt=""></div>
          <ul class="panel__item__source">
            <li class="panel__item__title">書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります書籍のタイトルが入ります。書籍のタイトルが入ります</li>
            <li class="panel__item__price">価格：<span>OOOO円</span></li>
            <li class="panel__item__date">発売日：<span>2016.00.00</span></li>
          </ul>
          <ul class="panel__item__btn clearfix">
            <li class="left"><a href=""><i class="icon-zip"></i>POP/チラシ</a></li>
            <li class="right"><a href=""><i class="icon-pdf"></i>注文書</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
