// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite02-ico-blank-name: 'sprite02_ico_blank';
$sprite02-ico-blank-x: 162px;
$sprite02-ico-blank-y: 118px;
$sprite02-ico-blank-offset-x: -162px;
$sprite02-ico-blank-offset-y: -118px;
$sprite02-ico-blank-width: 14px;
$sprite02-ico-blank-height: 14px;
$sprite02-ico-blank-total-width: 184px;
$sprite02-ico-blank-total-height: 184px;
$sprite02-ico-blank-image: 'assets/img/sprite02.png';
$sprite02-ico-blank: (162px, 118px, -162px, -118px, 14px, 14px, 184px, 184px, 'assets/img/sprite02.png', 'sprite02_ico_blank', );
$sprite02-ico-blank-01-name: 'sprite02_ico_blank_01';
$sprite02-ico-blank-01-x: 128px;
$sprite02-ico-blank-01-y: 152px;
$sprite02-ico-blank-01-offset-x: -128px;
$sprite02-ico-blank-01-offset-y: -152px;
$sprite02-ico-blank-01-width: 27px;
$sprite02-ico-blank-01-height: 27px;
$sprite02-ico-blank-01-total-width: 184px;
$sprite02-ico-blank-01-total-height: 184px;
$sprite02-ico-blank-01-image: 'assets/img/sprite02.png';
$sprite02-ico-blank-01: (128px, 152px, -128px, -152px, 27px, 27px, 184px, 184px, 'assets/img/sprite02.png', 'sprite02_ico_blank_01', );
$sprite02-ico-column-new-name: 'sprite02_ico_column_new';
$sprite02-ico-column-new-x: 94px;
$sprite02-ico-column-new-y: 94px;
$sprite02-ico-column-new-offset-x: -94px;
$sprite02-ico-column-new-offset-y: -94px;
$sprite02-ico-column-new-width: 60px;
$sprite02-ico-column-new-height: 20px;
$sprite02-ico-column-new-total-width: 184px;
$sprite02-ico-column-new-total-height: 184px;
$sprite02-ico-column-new-image: 'assets/img/sprite02.png';
$sprite02-ico-column-new: (94px, 94px, -94px, -94px, 60px, 20px, 184px, 184px, 'assets/img/sprite02.png', 'sprite02_ico_column_new', );
$sprite02-ico-dpoint-01-name: 'sprite02_ico_dpoint_01';
$sprite02-ico-dpoint-01-x: 158px;
$sprite02-ico-dpoint-01-y: 94px;
$sprite02-ico-dpoint-01-offset-x: -158px;
$sprite02-ico-dpoint-01-offset-y: -94px;
$sprite02-ico-dpoint-01-width: 19px;
$sprite02-ico-dpoint-01-height: 18px;
$sprite02-ico-dpoint-01-total-width: 184px;
$sprite02-ico-dpoint-01-total-height: 184px;
$sprite02-ico-dpoint-01-image: 'assets/img/sprite02.png';
$sprite02-ico-dpoint-01: (158px, 94px, -158px, -94px, 19px, 18px, 184px, 184px, 'assets/img/sprite02.png', 'sprite02_ico_dpoint_01', );
$sprite02-ico-facebook-01-name: 'sprite02_ico_facebook_01';
$sprite02-ico-facebook-01-x: 94px;
$sprite02-ico-facebook-01-y: 118px;
$sprite02-ico-facebook-01-offset-x: -94px;
$sprite02-ico-facebook-01-offset-y: -118px;
$sprite02-ico-facebook-01-width: 30px;
$sprite02-ico-facebook-01-height: 30px;
$sprite02-ico-facebook-01-total-width: 184px;
$sprite02-ico-facebook-01-total-height: 184px;
$sprite02-ico-facebook-01-image: 'assets/img/sprite02.png';
$sprite02-ico-facebook-01: (94px, 118px, -94px, -118px, 30px, 30px, 184px, 184px, 'assets/img/sprite02.png', 'sprite02_ico_facebook_01', );
$sprite02-ico-facebook-02-name: 'sprite02_ico_facebook_02';
$sprite02-ico-facebook-02-x: 0px;
$sprite02-ico-facebook-02-y: 0px;
$sprite02-ico-facebook-02-offset-x: 0px;
$sprite02-ico-facebook-02-offset-y: 0px;
$sprite02-ico-facebook-02-width: 90px;
$sprite02-ico-facebook-02-height: 90px;
$sprite02-ico-facebook-02-total-width: 184px;
$sprite02-ico-facebook-02-total-height: 184px;
$sprite02-ico-facebook-02-image: 'assets/img/sprite02.png';
$sprite02-ico-facebook-02: (0px, 0px, 0px, 0px, 90px, 90px, 184px, 184px, 'assets/img/sprite02.png', 'sprite02_ico_facebook_02', );
$sprite02-ico-line-01-name: 'sprite02_ico_line_01';
$sprite02-ico-line-01-x: 128px;
$sprite02-ico-line-01-y: 118px;
$sprite02-ico-line-01-offset-x: -128px;
$sprite02-ico-line-01-offset-y: -118px;
$sprite02-ico-line-01-width: 30px;
$sprite02-ico-line-01-height: 30px;
$sprite02-ico-line-01-total-width: 184px;
$sprite02-ico-line-01-total-height: 184px;
$sprite02-ico-line-01-image: 'assets/img/sprite02.png';
$sprite02-ico-line-01: (128px, 118px, -128px, -118px, 30px, 30px, 184px, 184px, 'assets/img/sprite02.png', 'sprite02_ico_line_01', );
$sprite02-ico-line-02-name: 'sprite02_ico_line_02';
$sprite02-ico-line-02-x: 94px;
$sprite02-ico-line-02-y: 0px;
$sprite02-ico-line-02-offset-x: -94px;
$sprite02-ico-line-02-offset-y: 0px;
$sprite02-ico-line-02-width: 90px;
$sprite02-ico-line-02-height: 90px;
$sprite02-ico-line-02-total-width: 184px;
$sprite02-ico-line-02-total-height: 184px;
$sprite02-ico-line-02-image: 'assets/img/sprite02.png';
$sprite02-ico-line-02: (94px, 0px, -94px, 0px, 90px, 90px, 184px, 184px, 'assets/img/sprite02.png', 'sprite02_ico_line_02', );
$sprite02-ico-twitter-01-name: 'sprite02_ico_twitter_01';
$sprite02-ico-twitter-01-x: 94px;
$sprite02-ico-twitter-01-y: 152px;
$sprite02-ico-twitter-01-offset-x: -94px;
$sprite02-ico-twitter-01-offset-y: -152px;
$sprite02-ico-twitter-01-width: 30px;
$sprite02-ico-twitter-01-height: 30px;
$sprite02-ico-twitter-01-total-width: 184px;
$sprite02-ico-twitter-01-total-height: 184px;
$sprite02-ico-twitter-01-image: 'assets/img/sprite02.png';
$sprite02-ico-twitter-01: (94px, 152px, -94px, -152px, 30px, 30px, 184px, 184px, 'assets/img/sprite02.png', 'sprite02_ico_twitter_01', );
$sprite02-ico-twitter-02-name: 'sprite02_ico_twitter_02';
$sprite02-ico-twitter-02-x: 0px;
$sprite02-ico-twitter-02-y: 94px;
$sprite02-ico-twitter-02-offset-x: 0px;
$sprite02-ico-twitter-02-offset-y: -94px;
$sprite02-ico-twitter-02-width: 90px;
$sprite02-ico-twitter-02-height: 90px;
$sprite02-ico-twitter-02-total-width: 184px;
$sprite02-ico-twitter-02-total-height: 184px;
$sprite02-ico-twitter-02-image: 'assets/img/sprite02.png';
$sprite02-ico-twitter-02: (0px, 94px, 0px, -94px, 90px, 90px, 184px, 184px, 'assets/img/sprite02.png', 'sprite02_ico_twitter_02', );
$sprite02-icon-check-01-name: 'sprite02_icon_check_01';
$sprite02-icon-check-01-x: 159px;
$sprite02-icon-check-01-y: 152px;
$sprite02-icon-check-01-offset-x: -159px;
$sprite02-icon-check-01-offset-y: -152px;
$sprite02-icon-check-01-width: 12px;
$sprite02-icon-check-01-height: 14px;
$sprite02-icon-check-01-total-width: 184px;
$sprite02-icon-check-01-total-height: 184px;
$sprite02-icon-check-01-image: 'assets/img/sprite02.png';
$sprite02-icon-check-01: (159px, 152px, -159px, -152px, 12px, 14px, 184px, 184px, 'assets/img/sprite02.png', 'sprite02_icon_check_01', );
$sprite02-width: 184px;
$sprite02-height: 184px;
$sprite02-image: 'assets/img/sprite02.png';
$sprite02-sprites: ($sprite02-ico-blank, $sprite02-ico-blank-01, $sprite02-ico-column-new, $sprite02-ico-dpoint-01, $sprite02-ico-facebook-01, $sprite02-ico-facebook-02, $sprite02-ico-line-01, $sprite02-ico-line-02, $sprite02-ico-twitter-01, $sprite02-ico-twitter-02, $sprite02-icon-check-01, );
$sprite02: (184px, 184px, 'assets/img/sprite02.png', $sprite02-sprites, );


