////////////////////////////////////////
//　グローバル変数設定
//  グローバル変数にはg_の接頭辞
////////////////////////////////////////

$g_htmlBg: #f6f6f6;
$g_bodyBg: #fff;
$g_bodyMinWidth: 1024px; //画面幅の最小値
$g_wrapWidth: 980px; //wrapの幅
$g_maxWrapWidth: 1366px; //最大幅
$g_breakpointSP: 768px; //SP画面へのBP
$g_wrapSPMargin: 15px; //SP画面wrapの横余白




////////////////////////////////////////
//  カラー設定
//  サイトで利用する色を設定
////////////////////////////////////////
$g_color01: #fff;
$g_color02: #fff;
$g_color03: #fff;


