<%
  var data = jsonData;
  var parent = parentData;
%><article>
  <header class="article-header">
    <div class="article-header__inner">
      <h1 class="article-header__title headline"></i><%= data.title %></h1>
      <div class="article-header__date roboto">2016.10.01<span class="seal">在庫情報</span></div>
    </div>
  </header>
  <div class="article-content">
    <p>在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。</p>
    <p>在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。在庫切れ情報など各種お知らせの本文が入ります。</p>
    <p style="text-align: center;"><img src="https://placehold.jp/360x360.png" alt="" /></p>
  </div>
  <% include ../../parts/_pagination %>
</article>
