<%
  var data = jsonData;
  var parent = parentData;
%><article>
  <header class="article-header">
    <div class="article-header__inner">
      <h1 class="article-header__title headline"></i><%= data.title %></h1>
      <div class="article-header__date roboto">2016.10.01</div>
    </div>
  </header>
  <div class="article-content">
    <h2>大見出しが入ります。大見出しが入ります。</h2>
    <p>ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。<b>太字が入ります。太字が入ります。</b>ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。</p>
    <p style="text-align: center;"><img src="https://placehold.jp/360x360.png" alt="" /></p>
    <p>ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。<a href="">本文内のアンカーリンクが入ります。</a>ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。</p>
    <h3>小見出しが入ります。小見出しが入ります。</h3>
    <p>ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。ブログの本文が入ります。</p>
  </div>
  <% include ../../parts/_pagination %>
</article>
